<!DOCTYPE html>
<html>
  <head>
    <title>UrlShortener</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/scale.css"/>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="mx-auto max-w-[60%]">
      <% if notice %>
        <p class="notice bg-green-100 text-green-800 p-4 rounded-md"><%= notice %></p>
      <% end %>
      
      <% if alert %>
        <p class="alert bg-red-100 text-red-800 p-4 rounded-md"><%= alert %></p>
      <% end %>
    </div>

    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
